<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGC3qNhjLwXpaLTYKw19j1X6_GTHOl0Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>713979228746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>knowledge.engagement.CoordinatorPatternMVVM</string>
	<key>PROJECT_ID</key>
	<string>coordinatormvvm</string>
	<key>STORAGE_BUCKET</key>
	<string>coordinatormvvm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713979228746:ios:09184a63c931d271b3acb3</string>
</dict>
</plist>